@import './variables.scss';
@import './mixins.scss';


@each $class-item in $class-utils {
  $class: nth($class-item, 2);
  $prefix: map-get($class, 'class');
  $property: map-get($class, 'property');
  $values: map-get($class, 'values');
  $responsive: map-get($class, 'responsive');

  $property-type: type-of($property);
  $values-type: type-of($values);

  @if $values-type == 'list' {
    @each $i in $values {
      @if $property-type == 'list' {
        @each $prop in $property {
          .#{nth($prefix, index($property, $prop))}-#{$i} {
            #{$prop}: $i;
          }
        }
      }
      @else {
        .#{$prefix}-#{$i} {
          #{$property}: $i;
        }
      }
    }
    @if $responsive {
      @each $breakpoint in $breakpoints {
        $query: nth($breakpoint, 1);
        @include use-breakpoint($query) {
          @each $i in $values {
            @if $property-type == 'list' {
              @each $prop in $property {
                .#{nth($prefix, index($property, $prop))}-#{$query}-#{$i} {
                  #{$prop}: $i;
                }
              }
            }
            @else {
              .#{$prefix}-#{$query}-#{$i} {
                #{$property}: $i;
              }
            }
          }
        }
      }
    }
  }

  @else if $values-type == 'map' {
    @each $item in $values {
      $key: nth($item, 1);
      $value: nth($item, 2);
      @if $property-type == 'list' {
        @each $prop in $property {
          .#{nth($prefix, index($property, $prop))}-#{$key} {
            #{$prop}: $value;
          }
        }
      }
      @else {
        .#{$prefix}-#{$key} {
          #{$property}: $value;
        }
      }
    }
    @if $responsive {
      @each $breakpoint in $breakpoints {
        $query: nth($breakpoint, 1);
        @include use-breakpoint($query) {
          @each $item in $values {
            $key: nth($item, 1);
            $value: nth($item, 2);
            @if $property-type == 'list' {
              @each $prop in $property {
                .#{nth($prefix, index($property, $prop))}-#{$query}-#{$key} {
                  #{$prop}: $value;
                }
              }
            }
            @else {
              .#{$prefix}-#{$query}-#{$key} {
                #{$property}: $value;
              }
            }
          }
        }
      }
    }
  }
}

.text-break-word {
  word-wrap: break-word;
  word-break: break-word;
}