.unselectable {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

.disabled-events {
  pointer-events: none;
}

.active-scale {
  transition: filter 0.2s, transform 0.2s;
  &:hover {
    filter: brightness(1.2);
  }
  &:active {
    transform: scale(0.95);
  }
}
