.ellipsis {
  &.line-1 {
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  &.multi {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-pack: center;
    overflow: hidden;
    @for $i from 2 to 6 {
      &.line-#{$i} {
        -webkit-line-clamp: $i;
      }
    }
  }
  overflow: hidden;
}