@import '../config/variables.scss';
@import '../config/mixins.scss';

@include generate-class-utils($class-utils);

.text-break-word {
  word-wrap: break-word;
  word-break: break-word;
}

.place-content-stretch {
  place-content: stretch;
}