@import '../config/variables.scss';

.ellipsis {
  &.line-1 {
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  &.multi {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-pack: center;
    -webkit-line-clamp: var(--#{$variable-prefix}ellipsis-line);
    overflow: hidden;
    @for $i from 2 to 4 {
      &.line-#{$i} {
        --#{$variable-prefix}ellipsis-line: #{$i};
      }
    }
  }
  overflow: hidden;
}